<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="PATTERN"
    value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n"/>
  <property name="TEST_FILE_PATH" value="/logs/test.log"/>
  <property name="PRO_FILE_PATH" value="/logs/prod.log"/>

  <springProfile name="dev">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%date [%-30.30thread] %-5level %-20.20logger{20} || %msg%n</pattern>
      </encoder>
    </appender>
    <logger name="cn.cn.timebusker.util" level="debug"/>
    <root level="info">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="test">
    <appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${TEST_FILE_PATH}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${TEST_FILE_PATH}/info.%d{yyyy-MM-dd}.log</fileNamePattern>
        <MaxHistory>100</MaxHistory>
      </rollingPolicy>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>${PATTERN}</pattern>
      </layout>
    </appender>
    <root level="info">
      <appender-ref ref="TEST-FILE"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${PRO_FILE_PATH}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${PRO_FILE_PATH}/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
        <MaxHistory>100</MaxHistory>
      </rollingPolicy>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>${PATTERN}</pattern>
      </layout>
    </appender>
    <root level="warn">
      <appender-ref ref="PROD_FILE"/>
    </root>
  </springProfile>
</configuration>
